# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# NetBeans private directories
**/nbproject/private/

# Build directories
**/build/

# Distribution directories (except lib JARs)
**/dist/*.jar

# Temporary files
sources.txt

# IDE files
.idea/
*.iml

# Environment
.env
.env.*
!.env.example
